@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>


<p>
    Direct for:
    <br>
    <button class="Facebook"><a href="https://www.facebook.com/linh.huong.0808">Facebook</a></button>
    <button class="Instagram"><a href="https://www.instagram.com/">Instagram</a></button>
    <button class="Zalo"><a href="https://zalo.me/0972208243">Zalo</a></button>
    <button class="Gmail"><a href="https://mail.google.com/mail/u/1/#inbox">Gmail</a></button>
</p>
